; ip6.vstill.cz
$TTL 60
@ IN SOA gate.vstill.cz admin.vstill.cz (7 ; serial
                                         300 ; Refresh secondary server
                                         300 ; Retry from secondary
                                         2419200 ; Expire secondary
                                         300 ; negative response cache on other DNS servers
                                        )

@ IN NS gate.vstill.cz.
@ IN NS gate.ip6.vstill.cz.

@ IN A 95.82.181.136
@ IN AAAA {{net.ipv6_prefix}}::1

gate  IN AAAA {{net.ipv6_prefix}}::1
krull IN AAAA {{net.ipv6_prefix}}:25ce:31a1:896f:c693
x270  IN AAAA {{net.ipv6_prefix}}:e670:b8ff:fe6b:dc7b
; t14   IN AAAA {{net.ipv6_prefix}}::
