options {
    directory "/var/cache/bind";

    // If there is a firewall between you and nameservers you want
    // to talk to, you may need to fix the firewall to allow multiple
    // ports to talk.  See http://www.kb.cert.org/vuls/id/800113

    // If your ISP provided one or more IP addresses for stable
    // nameservers, you probably want to use them as forwarders.
    // Uncomment the following block, and insert the addresses replacing
    // the all-0's placeholder.

    //========================================================================
    // If BIND logs error messages about the root key being expired,
    // you will need to update your keys.  See https://www.isc.org/bind-keys
    //========================================================================
    dnssec-validation auto;

    listen-on { any; };
    listen-on-v6 { any; };

    forwarders {
        83.240.0.215; {# netbox #}
        83.240.0.136; {# netbox #}
        208.67.222.222; {# opendns #}
        208.67.220.220; {# opendns #}
        1.1.1.1; {# Cloudflare #}
        1.0.0.1; {# Cloudflare #}
        2001:4cc8:0:4:0:5:0:1; {# netbox #}
        2001:4cc8:0:4:0:6:0:1; {# netbox #}
        2620:119:35::35; {# opendns.com #}
        2620:119:53::53; {# opendns.com #}
        2606:4700:4700::1111; {# cloudflare #}
        2606:4700:4700::1001; {# cloudflare #}

    };
    allow-recursion {
        192.168.0.0/16;
        {{net.ipv6_prefix}}::0/64;
        127.0.0.1;
    };

    hostname "{{inventory_hostname}}";
};

// vim: ft=jinja expandtab
