; p.vstill.cz
$TTL 60
@ IN SOA gate.vstill.cz admin.vstill.cz (10 ; serial
                                         300 ; Refresh secondary server
                                         300 ; Retry from secondary
                                         2419200 ; Expire secondary
                                         300 ; negative response cache on other DNS servers
                                        )

@ IN NS gate.vstill.cz.
@ IN NS gate.p.vstill.cz.

@ IN A 95.82.181.136
@ IN AAAA {{net.ipv6_prefix}}::1


; skund IN A 192.168.5.16
gate IN A 192.168.5.1
wifi IN A 192.168.5.2
krull IN A 192.168.5.3
skund IN A 192.168.5.4
t14 IN A 192.168.5.35
io IN A 192.168.5.6
pixma-mx925 IN A 192.168.5.16
printer IN CNAME pixma-mx925
scan    IN CNAME pixma-mx925

; x230  IN A 192.168.4.32
; x230w IN A 192.168.4.33
; a40   IN A 192.168.4.66
; rpi4  IN A 192.168.4.20
; rpi4alt  IN A 192.168.4.19
