#### Managed by Ansible ####

compatibility_level = 2
mydomain = fi.muni.cz
mynetworks = 127.0.0.1/8 [::ffff:127.0.0.0]/104 [::1]/128 192.168.0.0/24 192.168.1.0/24
relayhost = [{{mail_relay}}]
alias_maps = hash:/etc/aliases
alias_database = $alias_maps

readme_directory = no
inet_protocols = all

# vim: fo=cq
