# managed by ansible
{% for num, homes in mount.home.pontos.items() %}
{% for usr in homes %}
{% set use_antea = usr in mount.home.antea and "pontos_home" not in group_names %}
{% set hostname = 'antea' if use_antea else 'pontos' + num %}
{% set prefix = '' if use_antea else '/export' %}
{% if hostname + ".fi.muni.cz" == inventory_hostname %}
{{usr}} -fstype=bind :/export/home/{{usr}}
{% else %}
{{usr}}   -rw,soft,actimeo=30,noatime,vers=3 {{hostname}}.fi.muni.cz:{{prefix}}/home/{{usr}}
{% endif %}
{% endfor %}
{% endfor %}
{#
# vim: ft=jinja
#}
