# managed by ansible
{% for num, homes in mount.home.pontos.items() %}
{% for usr in homes %}
{% if "pontos" + num + ".fi.muni.cz" == inventory_hostname %}
{{usr}} -fstype=bind :/export/home/{{usr}}
{% else %}
{{usr}} -rw,soft,actimeo=30,noatime,vers=3 pontos{{num}}.fi.muni.cz:/export/home/{{usr}}
{% endif %}
{% endfor %}
{% endfor %}
{#
# vim: ft=jinja
#}
