# managed by ansible
{% for num, homes in mount.home.pontos.items() %}
{% if "pontos" + num + ".fi.muni.cz" == inventory_hostname %}
{% for usr in homes %}
{% for to in mount.export_to %}
/export/home/{{usr}} -rw,no_subtree_check,root_squash,async,mp=/export/home {{to}}
{% endfor %}
{% for to in mount.export_ro_to %}
/export/home/{{usr}} -ro,no_subtree_check,root_squash,async,mp=/export/home {{to}}
{% endfor %}
{% for to in mount.export_web_to %}
/export/home/{{usr}}/public_html -rw,no_subtree_check,root_squash,async,mp=/export/home {{to}}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{#
# vim: ft=jinja
#}
