# WARNING: This file is automatically managed by ansible, any changes in it will be discarded on configuration reload

defaults
tls off
tls_certcheck off
tls_starttls off
aliases /etc/aliases

account default
host "{{mail_relay}}"
port 25
auto_from on
maildomain "{{inventory_hostname}}"
auth off
logfile /var/log/msmtp.log
