# WARNING: This file is automatically managed by ansible, any changes in it will be discarded on configuration reload

# option definitions common to all supported networks...
option domain-name "p.vstill.cz";
option domain-name-servers 192.168.5.1, 208.67.222.222 {# opendns #}, 208.67.220.220 {# opendns #}, 1.1.1.1 {# Cloudflare #}, 1.0.0.1 {# Cloudflare #}, 83.240.0.215 {# netbox #}, 83.240.0.136 {# netbox #};

default-lease-time 600;
max-lease-time 7200;

ddns-update-style none;

subnet 192.168.5.0 netmask 255.255.255.0 {
  authoritative;
  option subnet-mask 255.255.255.0;
  range 192.168.5.128 192.168.5.255;
  option routers 192.168.5.1;
}

{% for h in net.fixed %}
{% if h.ipv4 is defined %}
host {{h.name}} {
  hardware ethernet {{h.link}};
  fixed-address {{h.ipv4}};
}

{% endif %}
{% endfor %}

{#
vim: ft=jinja expandtab
#}
