# WARNING: This file is automatically managed by ansible, any changes in it will be discarded on configuration reload

# option definitions common to all supported networks...
option dhcp6.name-servers {{net.ipv6_prefix}}::1, 2620:119:35::35 {# opendns #}, 2620:119:53::53 {# opendns #}, 2606:4700:4700::1111 {# cloudflare #}, 2606:4700:4700::1001 {# cloudflare #};
option dhcp6.domain-search "ipv6.vstill.cz";

default-lease-time 600;
max-lease-time 7200;

subnet6 {{net.ipv6_prefix}}::/64 {
    range6 {{net.ipv6_prefix}}::8000 {{net.ipv6_prefix}}::ffff;

#    # Range for clients requesting a temporary address
#    range6 {{net.ipv6_prefix}}:ffff::/48 temporary;

#    # Prefix range for delegation to sub-routers
#    prefix6 {{net.ipv6_prefix}}:ff00:: {{net.ipv6_prefix}}:fffe::/48;
}


{% for h in net.fixed %}
{% if h.ipv6 is defined %}
host {{h.name}} {
  hardware ethernet {{h.link}};
  fixed-address6 {{net.ipv6_prefix}}{{h.ipv6}};
}

{% endif %}
{% endfor %}

{#
vim: ft=jinja expandtab
#}
