{% for eth in eth_internal %}
interface {{eth}}
{
        ## Send advertisement messages to other hosts
        AdvSendAdvert on;

        ## Fragmentation is bad
        AdvLinkMTU 1280;
        MaxRtrAdvInterval 300;
        
        ## statefull: Indicate there is a DHCPv6
        # AdvManagedFlag on;
        # AdvOtherConfigFlag on;

        ## stateless
        ## IPv6 subnet prefix we've been assigned by our PoP
        prefix {{net.ipv6_prefix}}::/64
        {
                AdvOnLink on;
                AdvAutonomous on;
        };
};

{% endfor %}
